<div class="m-1 container">
  <mat-icon class="close-icon" mat-dialog-close>close</mat-icon>

  <h4>Suggest Skill</h4>
  <form action="">
    <div class="example-container">
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Suggest a skill</mat-label>
        <input
          matInput
          #input
          placeholder="Suggest a skill"
          class="form-control"
        />
      </mat-form-field>
    </div>
    <div class="m-1">
      <button class="btn">Submit skill suggestion</button>
    </div>
  </form>
</div>
