<div class="container-fluid">
  <div class="card mb-12 text-dark" style="box-shadow: 1px 1px 7px #333">
    <div class="card-body text-center">
      <!-- <img src="../assets/img/profile.png" alt="avatar" class="rounded-circle img-fluid" style="width: 80px;"> -->
      <i class="fa fa-user fa-6" aria-hidden="true"></i>

      <h5 class="my-1">Name</h5>
      <p class="text-muted mb-1">place</p>
      <div class="d-flex my-3 text-center justify-content-center text-dark">
        <div class="px-2">
          <a href="#" class="text-dark">
            <mat-icon matBadge="15" matBadgeColor="warn">email</mat-icon>
          </a>
        </div>

        <div class="px-2">
          <a href="" class="text-dark">
            <mat-icon matBadge="1" matBadgeColor="primary">thumb_up</mat-icon>
          </a>
        </div>

        <div class="px-2">
          <a href="#" class="text-dark">
            <mat-icon matBadge="0" matBadgeColor="accent"
              >supervisor_account</mat-icon
            >
          </a>
        </div>

        <div class="px-2">
          <a href="#" class="text-dark">
            <mat-icon>facebook</mat-icon>
          </a>
        </div>
      </div>
      <p class="text-muted mb-4 px-4 text-dark btn-light d-inline rounded">
        <a href="#" class="text-decoration-none fw-bold text-dark"
          >Vote case :
        </a>
      </p>
    </div>
  </div>
  <div class="my-3">
    <mat-accordion class="my-3">
      <mat-expansion-panel class="panel">
        <mat-expansion-panel-header>
          <mat-panel-title> </mat-panel-title>
          <mat-panel-description>
            <span class="text-dark font-weight-bold offering"
              >What I'm offering / What I want</span
            >
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="text-center monotize_skill">
          <h5><a href="#" class="text-decoration-none text-dark">title</a></h5>

          <ul class="text-dark">
            <li>Monetize your Skills</li>
            <li>Press to Monetize your skills</li>
            <li>Skills list and wish list</li>
            <li>
              <a href="#">Add skills to your Profile</a>
            </li>
            <li><a href="#">Select the skills you want</a></li>
            <li><a href="#">Pitch us a skills Suggestion</a></li>
            <li><a href="#">Reguest for endrosement</a></li>
            <li><a href="#">Privacy settings</a></li>
            <li><a href="#">Endorsements</a></li>
            <li>Check these guys out!</li>
            <li><a href="#">Ridiculously skilled members</a></li>
            <li><a href="#">Members with weird skills</a></li>
            <li><a href="#">Members with endorsed skills</a></li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- </div> -->
