ul li {
  list-style: none;
}
ul {
  padding: 0;
}
li a {
  text-decoration: none;
}
.card {
  background-color: #f4f4f4;
}
.fa-6 {
  font-size: 5em;
}
.panel {
  background-color: #f4f4f4;
  color: #111;
}
.offering {
  font-weight: 600;
}
.monotize_skill ul li a {
  color: #111;
  cursor: pointer;
}
.monotize_skill ul li a:hover {
  font-weight: 700;
}
.monotize_skill ul li {
  line-height: 2;
  font-weight: 500;
  font-size: 14px;
}
