<h2>Privacy Policy</h2>

By accepting the privacy policy you are acknowledging that you have read the privacy statement in full and accept its
terms unconditionally.

Skillbound.com (“SB”) strives to protect your privacy and will not sell your information to any third parties without
your express acceptance.

However, SB may collect personal information (“Information”) for our records, this includes, but is not limited to:

Your email address, contact information, including mailing address, first and last names, date of birth.
Records of who you have contacted, and/or who we have contacted on your behalf.
Sign-on data, correspondence through the Website, including correspondence sent to us and by us to you, statistics on
page views, traffic to the Website and advertising data.
IP address and log information.
We will contact other Members who match your skills ‘wish list’ with their skill set and vice versa.

You accept that we will give such other Members your email address and name so that they may contact you on a one-to-one
basis.

You accept that you will not forward other Member’s personal contact or other information to third parties without their
consent.

We will forward your information to:

a) Law enforcement agencies or other governmental offices if requested to do so, in response to any investigations into
civil or criminal activities or breaches.

b) Other businesses we intend to, or do merge with, affiliates and agents.

Your user ID will be accessible to all Users (i.e. Members and Non-members) who visit the website.

You are advised to only include your first name on your profile, and not list your full name, your address or your email
address. If you do you may attract unwanted and unsolicited contact from third parties.

At no time will SB contact you via email or instant message to ask you for any personal information. Including: credit
card information, password, login information or any other information whatsoever.
SB will not send you an email with a link to our site or any website asking for private information.

If you receive emails requesting any information in the name of Skillbound.com you should contact us immediately with
the email at help@skillbound.com.

Although every endeavor will be made to protect your identity and private information we do not accept any
responsibility for occasions when our security is breached and your private information, including the Information is
attained by third parties.

We reserve the right to use cookies so as to help identify you and help you use our Website.

You may encounter cookies on our site that is not controlled by SB. You accept that we are not responsible for these
cookies or any invasion of your privacy by third parties.

We do not condone spamming, spyware, spoofing or pop-ups or any nuisance third party on-line abuse. You agree not to add
other peoples’ email addresses to your profile or contact other members without their permission. You accept that SB is
not responsible for any such abuse.

You will be able to contact members who match your skill set or desired skills if and when we provide that information
to you. You accept other members can email you also.

You agree not to abuse the process by emailing Member excessively, e.g. to the point where other Member object.

You agree that some Members are permitted to ‘Page’ you. This involves people sending you messages expressing an
interest in meeting you and swapping skills with you.

You accept that you are not to abuse this facility and that if Members do so you should notify SB on
help@skillbound.com.

We reserve the right but not the obligation to ban Members who abuse either the page feature or email other members
excessively.

You should use unique letters and numbers in your password. You accept that under no circumstances will you reveal your
password to anyone. You accept that you will change your password from time to time. If you lose control of your
password you should change your password at once and contact customerservice@skillbound.com to notify us. Moreover, you
accept that SB is not responsible for you losing your password or for allowing someone else to access your account. You
also accept responsibility for your account and accept SB is not responsible for security breaches of any kind.

Your Information will be maintained on US servers. We will make every effort to protect your Information, through
encryption and other security measures. However, breaches of security can and do happen and you accept that this can
happen and therefore you private Information could be access by third parties. You accept that SB has no responsibility
for these security breaches and accept that you will not reveal information to SB you would not share with other third
parties.

Although SB will endeavor not to disclose your contact Information to others, you accept that some or all information
may be disclosed by other members to third parties or third parties to other people or companies. You do not hold SB
accountable or responsible for such security breaches under any circumstances.

You accept that we may change the privacy policy from time to time. You further agree to re-read the policy from time to
time so as to keep up with changes.

You agree to endeavor to read about spamming, spoofing, spimming, all on-line fraud, and any other online fraud that may
be relevant.

You accept that SB may from time to time send you information via email to inform you of new services, features,
promotions, news, events, competitions or sweepstakes ran by SB or our affiliates.

I've read it and I agree.