.container{
    position: relative;
}

/* start button  */
.disable{
    cursor:not-allowed;
  }
  .btn-submit {
    /* background-color: #a4e5fa; */
    position: relative;
  
    /* background: #1b90c6; */
    background: linear-gradient(0deg, #1b90c6 0%, #97cfe9 100%);
      width: 130px;
      height: 40px;
      line-height: 42px;
      padding: 0;
      border: none;
  }
  .btn-submit span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color:#eee;
  }
  
  /* .btn-submit:hover {
    /* background-color: #76d6f7; */
    /* box-shadow: 2px 5px 5px #757575; 
  } */
  .btn-submit:before,
  .btn-submit:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #1b90c6;
    transition: all 0.3s ease;
  }
  .btn-submit:before {
    height: 0%;
    width: 2px;
  }
  .btn-submit:after {
    width: 0%;
    height: 2px;
  }
  .btn-submit:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-submit:hover:before {
    height: 100%;
  }
  .btn-submit:hover:after {
    width: 93%;
  }
  .btn-submit span:hover{
     color: #1b90c6;
  }
  .btn-submit span:before,
  .btn-submit span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #1b90c6;
    transition: all 0.3s ease;
  }
  .btn-submit span:before {
    width: 2px;
    height: 0%;
  }
  .btn-submit span:after {
    width: 1%;
    height: 2px;
  }
  .btn-submit span:hover:before {
    height: 100%;
  }
  .btn-submit span:hover:after {
    width: 106%;
  }
  /* End button  */

  .close-icon {
    position: absolute;
    top: -5px;
    right: 15px;
    font-size: 25px;
    font-weight: bolder;
    /* border: 5px solid transparent; */
  }
  
  .close-icon:hover {
    color: #79d4f3;
  }
  /* start date input alignment */
  
    @media only screen and (min-width: 1000px) {
      .date{
        width:68%
      }
    }
    @media only screen and (min-width: 950px) {
      .date{
        width:67%
      }
    }
    @media only screen and (min-width: 700px) { 
      .date{
        width:67%
      }
    }
    
    @media only screen and (max-width: 700px) {
      .date{
        width:100%
      }
    }

    @media only screen and (max-width: 400px) {
      .date{
        width:102%
      }
    }
  /* End date input alignment */