<!-- TOP HEADER Start
    ================================================== -->

<section id="top">
  <div class="container-fluid">
    <div class="row icon-navbar ">
      <!-- Icons -->
      <div class="col-md-4 d-flex d-flex flex-row align-items-center icon-navbar-1">
        <div class="px-3"><a href="#">
            <mat-icon matBadge="15" matBadgeColor="primary">email</mat-icon>
          </a>
        </div>

        <div class="px-3">
          <a href="">
            <mat-icon matBadge="1" matBadgeColor="primary">thumb_up</mat-icon>
          </a>
        </div>

        <div class="px-3">
          <a href="#">
            <mat-icon matBadge="0" matBadgeColor="accent">supervisor_account</mat-icon>
          </a>
        </div>

        <div class="px-3"><a href="#">
            <mat-icon>facebook</mat-icon>
          </a>
        </div>

      </div>

      <div class="col-md-4 py-1 d-flex justify-content-center icon-navbar-2">
        <div class="search-box">
          <div class="input-group">
            <form class="form-inline my-2 my-lg-0 d-flex">
              <input class="form-control mr-sm-2 input-responsive" type="search" placeholder="Search"
                aria-label="Search">
              <button class="btn btn-light person-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div><!-- /.input-group -->
        </div><!-- /.search-box -->
      </div>

      <div
        class="col-md-4 py-1 px-4 d-flex icon-navbar-3 justify-content-sm-center justify-content-lg-space-evenly align-items-center jusstify-content-lg-end">

        <div class="px-2"><a href="#" class="text-decoration-none">Timeline</a></div>
        <div class="px-2 pt-2">
          <a href="#">
            <mat-icon>chat</mat-icon>
          </a>
        </div>
        <!-- Example split danger button -->
        <div class="dropdown profile-dropdown px-2">
          <button class="p-1 click">
            <img src="../assets/img/profile.png" alt="profile" class="px-1" width="30px">
            <span class="px-1">User name</span>
          </button>
          <ul class="profile-dropdown-list">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Message</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>

      </div>

    </div> <!-- End Of /.row -->
  </div> <!-- End Of /.Container -->
</section> <!-- End of /Section -->


<!-- LOGO Start
    ================================================== -->

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#">
          <img src="../assets/img/newLogo.png" alt="logo">
        </a>
      </div> <!-- End of /.col-md-12 -->
    </div> <!-- End of /.row -->
  </div> <!-- End of /.container -->
</header> <!-- End of /Header -->




<!-- MENU Start
    ================================================== -->

<nav class="navbar navbar-expand-sm navbar-dark p-0">
  <div class="container-fluid p-0">
    <!-- <a class="navbar-brand" href="#">Logo</a> -->
    <button class="navbar-toggler text-black bg-black" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon text-black"></span>
    </button>
    <div class="collapse navbar-collapse navbars " id="collapsibleNavbar">
      <ul class="navbar-nav navbar-list d-flex justify-content-space-around">
        <li class="nav-item">
          <a class="nav-link" href="#">Search Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Browse Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills Members Have</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills Members want</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Post vedio Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Post Audio Files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Classes</a>
        </li>


      </ul>
    </div>
  </div>
</nav>


<!-- MENU End 
  =================================================== -->