<div class="container-fluid">
  <!--start container -->
  <mat-accordion>
    <!-- Start skills -->
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-header">
        <mat-panel-title>
          <span class="mat-header-title">Skills </span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
      <div class="my-2">
        <mat-accordion class="my-6">
          <!-- Skills you have listed -->
          <mat-expansion-panel>
            <mat-expansion-panel-header class="sub-mat-header">
              <mat-panel-title class="mat-header-subtitle">
                <span> Skills you have listed </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-skill-card></app-skill-card>
          </mat-expansion-panel>
          <!-- Desired Skills -->
          <mat-expansion-panel>
            <mat-expansion-panel-header class="sub-mat-header">
              <mat-panel-title class="mat-header-subtitle">
                <span> Desired Skills </span>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <app-want-skill-card></app-want-skill-card>
            <div class="triangle container">
              <div class="row">
                <div class="col-lg-4"></div>
              </div>
            </div>
            <!-- <app-want-skill-card></app-want-skill-card> -->
          </mat-expansion-panel>
          <!-- Skills For Sale -->
          <mat-expansion-panel>
            <mat-expansion-panel-header class="sub-mat-header">
              <mat-panel-title class="mat-header-subtitle">
                <span>Skills For Sale</span>
              </mat-panel-title>
              <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-expansion-panel>
    <!-- End Skills -->

    <!-- Start Personal Settings -->
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-header">
        <mat-panel-title>
          <span class="mat-header-title">Pesonal settings</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- End Personal Settings -->
    <!-- Start Friends List -->
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-header">
        <mat-panel-title>
          <span class="mat-header-title">Friends</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- End Friends List -->
    <!-- Start Gallery -->
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-header">
        <mat-panel-title>
          <span class="mat-header-title">Gallery</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- End Gallery -->
    <!-- Start Feedback -->
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-header">
        <mat-panel-title>
          <span class="mat-header-title">Feedback </span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- End Feedback -->
    <!-- Start video -->
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-header">
        <mat-panel-title>
          <span class="mat-header-title">Video</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- End video -->
    <!-- Start Audio -->
    <mat-expansion-panel>
      <mat-expansion-panel-header class="mat-header">
        <mat-panel-title>
          <span class="mat-header-title">Audio</span>
        </mat-panel-title>
        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <!-- End Audio -->
  </mat-accordion>
</div>
<!-- End the Container -->
