
/* .mat-header{
  background-color: #e6e6e6 !important;
} */
.mat-header-title{
  font-weight:500;
}
.mat-header-subtitle{
  font-size: 16px;
}
.sub-mat-header{
  background-color: #a4e5fa !important;
}
mat-icon{
  font-size: 16px;
}
.card-container {
  border-radius: 5%;
  box-shadow: 1px 4px 8px #333;
  line-height: 2;
}
.sub-head{
  font-weight: 400;
  font-size: 11px;
}
div #skill-level{
  font-weight:600px !important ;
}

.skill-progress {
    width: 100%;
    height: 10px;
}
.basic{
  background-color: #e07f10b3 !important;
  width:50%
}

.good {
    background-color: #ffd900ae !important;
    width: 75%
}

.expert {
  background-color: #079b2c97 !important;
  width: 100%;
}
.triangle-bar{
  top:-1px;
  right:-1px;
  /* border-left:100px solid transparent; */
  border-top:0px solid transparent;
  border-right: 101px solid #a4e5fa;
  border-bottom: 100px solid transparent;
  border-radius: auto 15% auto auto !important;
}
.triangle {
  position: relative;
    width: 200px;
    height: 250px;
    background: #d6d5d564;
    border-radius: 12px;
    overflow: hidden;
}
.triangle::after{
  content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 90px 90px 0;
    border-color: transparent #a4e5fa transparent transparent;
    right: 0;
    top: 0;
    position: absolute;
}