<!-- Start Card -->
<div class="row" id="">
  <div class="container row justify-content-center">
    <div class="d-flex col-xl-4 col-lg-6  col-md-6 col-12" *ngFor="let skills of userData; let i = index">
      <div id="card-monisha"
        class="col-3 m-4 d-flex flex-column justify-content-center bg-light align-items-center p-4 position-relative card-container position-relative triangle"
        style="width:200px; height:250px">
        <mat-icon class="editIcon" mat-button (click)="editSkill(skills.id)">edit</mat-icon>
        <div class="cornertriangle" [ngStyle]="{'border-color':skills.wishesColor}" [@wishAnimation]="state"
          *ngIf="skills.wishesTo">
        </div>
        <span class="cross-content" [@wishSkill]="state" *ngIf="skills.wishesTo">{{skills.wishesTo}}</span>
        <span class=" d-block mt-1 h6 skill-name" (mouseover)="onTriangleAnimation()"
          (click)="renderData()">{{skills.category}}</span>
        <!-- Skill name -->
        <span class="d-block mb-1 sub-head">{{skills.subCategory}}</span>
        <!-- Sub skill name-->
        <!-- level of skill -->
        <div class="d-block mt-2" *ngIf="skills.levelSkill">
          <span class="mat-body-strong" id="skill-level">Level of Skill</span>
        </div>
        <!-- Start skill level progress bar  -->
        <div class="progress skill-progress" *ngIf="skills.levelSkill">
          <div class="progress-bar {{skills.levelSkill}}" title="{{skills.levelSkill}}" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- End skill level progress bar -->
        <div class="d-block mt-2" *ngIf="skills.teachingLevel">
          <span class="font-weight-bold mat-body-strong " id="skill-level">Teaching Level</span>
        </div>
        <!-- start teaching level progress bar -->
        <div class="progress skill-progress" *ngIf="skills.teachingLevel">
          <div class="progress-bar {{skills.teachingLevel}}" title="{{skills.teachingLevel}}" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- End teaching level progress bar -->
      </div>
    </div>
  </div>
</div>
<!-- End Card -->