<!-- <ng-container *ngIf="this.service.isAuthendication();then authenticated;else notAuthenticated">
</ng-container>
<ng-template #authenticated> -->
<app-header></app-header>

<div class="container-fluid">
  <div class="row my-4">
    <div class="col-lg-3 col-xs-12">
      <app-profiles></app-profiles>
    </div>
    <div class="col-lg-9 col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- </ng-template> -->

<!-- <ng-template #notAuthenticated> -->
<!-- <app-header></app-header>

<app-login></app-login>
<app-footer></app-footer> -->

<!-- </ng-template> -->
<!-- <div class="notification-msg">
  <app-notification></app-notification>

</div> -->
