<div class="container-fluid" style="border:1px solid #111 ;">
  Welcome to Skillbound.com , an online person-to-person skill swapping and skill cross-training portal in your
  community.

  Our mission is to bring together anyone and everyone who enjoys learning new skills and feels they have skills to
  offer
  others in their local areas.

  Skillbound.com is also a site to connect with and, make new friends.

  We believe there's a world of untapped skills and talents out there. Why not explore?
</div>