Skillbound.com values your safety. Please take a few moments to read the material within the links below:

If you are aware of any fraud, abuse or feel you need to report any matter involving obscene or offensive content on our
website please contact us at: abuse@skillbound.com.

If you are aware of any spam or other scams please let us know at: spamscam@skillbound.com.

There are too many scams to mention but, by way of a limited example please be weary of the following email scams:

i.) Claiming you have won the lottery or any prize, sweepstakes or money.

ii.) Asking you to submit your bank account information so that the sender can send you money.

iii.) Asking for your login names or passwords.

vi.) Asking you for your social security number or national insurance information.

v.) Asking you to wire money to friends and family and asking for the pin numbers or account numbers associated with the
transfer.

Please review the following sites for your own safety and that of your familys’:

www.staysafeonline.org

www.thesafeside.com

www.surfthenetsafely.com

www.wiredsafety.org

www.onguardonline.gov/phishing.html

www.onguardonline.gov/socialnetworking_youth.html

www.getnetwise.org

None of the sites provided on this page are affiliated with, have reviewed, or have endorsed skillbound.com in anyway
whatsoever.