<div class="container m-2" *ngIf="wantSkillDetails">
  <mat-icon mat-button class="addIcon">add_circle</mat-icon>
  <!-- Start Card -->
  <div class="row card">
    <div class="container row justify-content-center">
      <div
        class="d-flex col-xl-4 col-lg-6 col-md-6 col-12"
        *ngFor="let wantSkill of wantSkillDetails; let i = index"
      >
        <div
          class="col-3 m-4 d-flex flex-column justify-content-center bg-light align-items-center p-4 position-relative card-container position-relative triangle"
          (mouseover)="wantSkill.skillWish = true"
          (mouseout)="wantSkill.skillWish = false"
        >
          <mat-icon
            class="editIcon"
            mat-button
            (click)="editSkill(wantSkill.wantSkillId)"
            >edit</mat-icon
          >
          <mat-icon class="deleteIcon" mat-button>delete</mat-icon>
          <!-- skill wishes -->
          <div
            class="wishesPart justify-content-around align-items-center d-flex p-3"
            [ngStyle]="{ 'background-color': wantSkill.wishesColor }"
            *ngIf="wantSkill.skillWish && wantSkill.wishesColor"
          >
            <span class="cross-content" *ngIf="wantSkill.wishesTo">{{
              wantSkill.wishesTo
            }}</span>
          </div>
          <div class="card-content-part">
            <span class="d-block mt-1 h6 skill-name"
              >{{ wantSkill.category }}
            </span>
            <!-- Skill name -->
            <span class="d-block mb-1 sub-head">{{
              wantSkill.subCategory
            }}</span>
            <!-- Sub skill name-->
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->
    <!-- <div class="delete-msg">That skill was deteletd</div> -->
  </div>
</div>
<div *ngIf="!wantSkillDetails" class="text-center m-2">
  Sorry, no skills are listed on your profile.
</div>
