<div class="container">
  <h2 class="text-center">Terms and Condition</h2>

  <div class="border rounded px-4">
    <ul>
      <li class="fw-bold">2022</li>
      <li>
        Skillbound.com (“SB”) is a skill swapping social networking and
        classified ad service (hereafter known as the “Services”). These
        Services include, but are not limited to any content or features
        provided by SB or its employees, agents or assigns.
      </li>
      <li>
        This terms and conditions agreement ("Agreement") sets forth the legally
        binding terms for anyone’s use of the Services. By using the Services,
        you agree to be bound by this Agreement, whether you are a "Visitor"
        (that is you simply browse the SB Website) or you are a fully registered
        member ("Member").
      </li>
      <li>
        As a Visitor or Member of SB (hereafter known as a “User”) you hereby
        acknowledge and accept the Terms of Use Agreement and agree to abide by
        this contract and all applicable laws.
      </li>
      <li>
        This Agreement includes SB's policy for acceptable use of the SB
        Services and content posted on the SB Website, your rights, obligations
        and restrictions regarding your use of the SB Website. This Agreement
        will apply to all Services and all additional Software or versions of
        the software that SB provides to its Users.
      </li>
      <li>
        SB may modify this Agreement at any time, with or without notice. Users
        will remain bound by its terms. If Users do not agree with such new
        terms they may desist from using SB at anytime without or without cause.
        Users agree to re-read the Agreement from time to time to ensure they
        are aware of any changes SB makes.
      </li>
      <li>
        Your SB profile (hereafter known as ”Profile”) may not include any
        objectionable, lewd or offensive content, links or materials whatsoever.
        This includes, but is not limited to pornography, drug paraphernalia
        references, or violent, hateful or racist topics.
      </li>
      <li>
        Your desired skills list or skill set (hereafter known as “Skills”) may
        not include skills involving any illegal activities; this includes, but
        is not limited to, skills involving weapons’ use, explosives or illegal
        drugs. It is expressly prohibited to specify skills referencing or
        implying racism, cultural, religious or sexual discrimination. Moreover,
        it is expressly prohibited to specify sexual or violent acts in your
        Skills.
      </li>
      <li>
        Notwithstanding the aforementioned prohibition, SB assumes no
        responsibility or liability for any material found on its Website that
        contains inappropriate, offensive, or sexually explicit materials.
      </li>
      <li>
        Members agree to report any content on SB’s Website that they find
        offensive or inappropriate to
        <a href="mailto:help@skillbound.com">help@skillbound.com</a>. We do not
        promise to remove the said content but we reserve the right to do so. In
        any event we accept no responsibility whatsoever for its display or use
        on our Website.
      </li>
      <li>
        Users acknowledge that they may pay for, or receive, services, or
        otherwise, provide services or receive payments for services they,
        themselves, provide and that as a consequence, there may be tax
        implications. In the circumstances, and where applicable, Users warrant
        to attain the services of a tax advisor or accountant or legal advisor
        and hold SB harmless.
      </li>
      <li>
        Members accept that they are responsible for skills they teach other
        Members. At all times they should exercise extreme care when teaching
        others skills. Members should ask themselves: could this skill be used
        inappropriately or for illegal or nefarious purposes. If they have
        probable or reasonable knowledge to believe that such skills will be
        used for such illegal or nefarious reasons they should immediately stop
        training that member.
      </li>
      <li>
        SB reserves the right to remove any materials or content on its Website
        for any reason at any time, this includes any Profile. Further, SB
        reserves the right to exclude any Member from its Website and
        subsequently block that person from gaining access to SB and/or its
        Services. Users accept this clause by visiting SB.
      </li>
      <li>
        By becoming a Member and creating a Profile you agree to warrant that
        all information posted by you on the Profile is accurate and true. You
        further agree to modify your Profile to make any changes that are
        necessary, if a failure to make such a change could mislead anyone
        reading or relying on your Profile. You further agree, that although SB
        does not claim any proprietary ownership in the content that you post on
        the Website, SB is free to use such content and display such content on
        its Website or through its Services.
      </li>
      <li>
        You agree that you are at least 18 years old and will not knowingly
        encourage or allow others to use SB’s Website who are under 18 or
        otherwise inappropriate to access SB’s Website, this includes, but is
        not limited to those who have expressed a desire to abuse the Website or
        any of SB’s Users in anyway whatsoever. Users are prohibited from
        soliciting communications from those Users who they have reason to
        believe are under the age of 18.
      </li>
      <li>
        Notwithstanding the aforementioned prohibition, you accept that SB bears
        no responsibility whatsoever for any Users of SB or its Services, this
        includes, but is not limited to those Users who are under 18 years of
        age. SB will never be liable in anyway for any misfortune, harm or abuse
        that may have occurred to Users as a result of using SB or in connection
        with SB’s Services.
      </li>
      <li>
        You agree not to exploit, abuse, offend or otherwise damage the
        reputations of any Users on the SB Website. Further you agree not to
        hurt or otherwise abuse any User or encourage others to do the same.
        Such abuse includes, but is not limited to threatening behavior and
        offensive remarks.
      </li>
      <li>
        SB also reserves the right to place advertisements or use sponsors on
        its Website at anytime.
      </li>
      <li>
        It is the sole responsibility of Members to ensure they remember their
        own passwords and not divulge their passwords to others. It is further
        agreed that Users will not use other Member’s passwords or accounts. If
        you are aware of such abuse you agree to contact: help@skillbound.com
        within a reasonable period of time.
      </li>
      <li>
        Users are strictly prohibited from collecting User’s information, such
        as email addresses or mailing addresses, with the intention of sending
        unsolicited information regarding services and products or materials
        that could cause offense or alarm.
      </li>
      <li>
        Users are also prohibited from posting any commercial links on the SB
        Website without attaining prior permission from SB. SB reserves the
        right to remove such unauthorized content or links at its discretion.
      </li>
      <li>
        Notwithstanding this prohibition SB takes no responsibility for such
        unsolicited communication, content or links. Please email:
        <a href="mailto:help@skillbound.com">help@skillbound.com</a> if you are
        aware of any such abuse.
      </li>
      <li>
        Users understand and accept that SB takes no responsibility whatsoever
        for any failure by a Member to perform a skill, teach a task or
        otherwise carry out what was promised by a given member and does not
        hold SB liable for any omission or failure thereby. Further, SB does not
        accept any liability for any misrepresentation a Member may make to any
        other visitor(s) at any time.
      </li>
      <li>
        SB has no ownership rights to any content members place on the SB
        Website. However, by doing so, Member’s agree to give SB a limited,
        albeit non-exclusive license (which ends when Member’s end their
        membership of SB) to use such material in full or in a modified form
        through the SB Services, this may include publishing or otherwise
        displaying, or reproducing the said material. No cost will be imposed on
        SB or its affiliates by any Users at anytime. You represent and warrant
        that you have the right to grant such a license and you have permission
        to publish such materials without violating any person or organization’s
        rights, privacy rights, publicity rights or copyrights or trademarks or
        any other rights whatsoever. Further you agree to pay for all royalties
        or other fees associated with such content. You are aware and you agree
        that SB will rely upon this license.
      </li>
      <li>
        The User understands and accepts that the Content of SB is or will be
        protected by copyright, trademark or is owned entirely by SB in whole
        and in part. All Users agree not to copy or reproduce the content, ideas
        or structure of SB or its Website in anyway.
      </li>
      <li>
        SB reserves the right to remove any content on its Website it deems
        offensive or inappropriate. SB reserves the right to monitor all content
        on its Website.
      </li>
      <li>
        Notwithstanding this right SB makes no warranty or guaranty to remove
        such content and accepts no responsibility for the content Users place
        on the Website. It is further agreed by the Users that all content they
        put on their profiles is their own responsibility. This content does not
        necessarily reflect the opinions of SB or its affiliates. SB will not
        necessarily screen, review, modify or otherwise change any content
        Members post either before or after it is posted on the Website.
      </li>
      <li>
        The following list is a non-exhaustive set of examples SB considers to
        be inappropriate, offensive and/or lewd. SB reserves the right to remove
        such content with or without notice and without limitation reserves the
        right to remove the membership of any User at any time. SB does not
        accept responsibility for removing any content on its Website or for the
        effects of content on SB’s Website. SB reserves the right to take legal
        action against any Users who violate this Agreement and/or display,
        publish or write comments or materials that are offensive, harmful,
        racist, bigoted or religiously offensive, pornographic, exploitative,
        harassing, false, misleading, obscene, or is illegal in anyway. This
        includes, encouraging others to perform illegal activities, including
        harming others, stealing, or using prohibited, copyrighted or trade
        marked materials or content.
      </li>
      <li class="fw-bold">
        Users will be prohibited from posting their addresses, phone numbers,
        email addresses or URLs on their profiles.
      </li>
      <li>
        Users are prohibited from posting any comments or materials that are
        intended to be harmful to others or that encourages others to harm or
        harass others in anyway whatsoever.
      </li>
      <li>
        Users are not to do anything that would bring about spamming, phising,
        spimming or fraud, or any other on-line or off-line abuse to other
        Users.
      </li>
      <li class="fw-bold">
        Users are not to encourage piracy in anyway or engage in any
        communication that is in anyway libelous, obscene, offensive or
        defamatory. SB will not accept any responsibility for such communication
        on its Website.
      </li>
      <li class="fw-bold">
        Users are prohibited from using the Website to stalk, harm, defame,
        infringe on company’s or people’s rights, copyrights, trademarks or
        contractual rights, including the theft of trade secrets and or patents,
        including business method patents.
      </li>
      <li>
        Users will not be allowed to promote any commercial activities
        whatsoever, this includes, but is not limited to, competitions,
        sweepstakes, spam or investment schemes.
      </li>
      <li>
        Users will be prohibited from selling products or services on the
        Website, unless through the Classified section of the Website. You
        accept that SB does not accept responsibility for anything posted on the
        Classified section of the Website. This includes, but is not limited to
        misrepresentation, non-performance, and defective products or services.
        You further accept that SB is not responsible for anything posted by
        Users on the Website. This includes, but is not limited to any product
        or service, transaction or arrangement or activity. You accept that SB
        does not make any guarantee or warranty whatsoever with regard to posts
        by Users on the Website.
      </li>
      <li>
        Users are prohibited from posting pictures or materials of other people
        without their consent. “Posting” includes, but is not limited to Users
        adding content to the Website in anyway whatsoever, this includes
        instances when videos or MP3 files are sent to SB for SB to post on its
        Website.
      </li>
      <li>
        Users are prohibited for writing offensive, rude or insulting comments,
        this includes, but is not limited to other members.
      </li>
      <li>
        No User is to send any other User unsolicited mail or materials or
        otherwise communicate in an unsolicited manner in anyway with another
        User. If a User does so, he/she agrees to pay SB US$75.00 for every
        unsolicited email you send.
      </li>
      <li>
        Users are entirely responsible for their interactions with other SB
        Members. SB reserves the right, but is in no way obligated, to
        investigate and review disputes between Members in anyway they feel fit.
        SB has the right to ban one or more Users from its Website with or
        without cause.
      </li>
      <li>
        SB is not in anyway responsible for any content posted by other Users on
        the SB Website or for content sent to SB to post. This includes, but is
        not limited to, inaccurate or untruthful content. This also includes
        occasion when the Website’s security has been by-passed by hacking
        activity. Users posting pictures, videos, music, other media or content
        on the Website must ensure they are not in breach of any copyright,
        trademark, patent, license or any intellectual or contractual rights or
        ownership over such content by others. SB bears no responsibility for
        such posts or for posting such content on the Website themselves when a
        User has done so previously or sent such content in for SB to post upon
        express or implied request.
      </li>
      <li>
        SB will not be responsible for Users’ activities flowing directly, or
        indirectly from the use of the Website in anyway, including, but not
        limited to their failure to perform, misrepresentation or any civil or
        criminal activities they engage in whatsoever.
      </li>
      <li>
        SB accepts no responsibility for third party solicitations or links to
        other sites. Users visit such links at their own risk.
      </li>
      <li>
        SB does not accept any responsibility for any Member’s opinions or
        messages that might be displayed on their profiles.
      </li>
      <li>
        SB accepts no responsibility for disruption, interruption, omission or
        deletion, or delay in service in anyway. Any harm that flows from such
        an event is the sole responsibility of the individual Users or other
        parties deemed responsible.
      </li>
      <li>
        SB accepts no responsibility for any technical issues whatsoever. This
        includes, but is not limited to, problems with transmission of data,
        telephone lines or any malfunction in the operational workings of SB’s
        Services whatsoever.
      </li>
      <li>
        SB accepts no responsibility for any breaches of SB’s security or
        unauthorized access to the Website or SB’s records.
      </li>
      <li>
        SB accepts no responsibility for any images, videos, audio files or
        other media that Members place on the site that get viewed or heard by
        other Members or non-Members even if they were not given access or
        authority by the Member to view or listen to the said image, video,
        audio file or other media.
      </li>
      <li>
        SB does not accept responsibility for other peoples’ or company’s
        products or services. Users understand that they meet, communicate and
        train with other Users at their own risk. SB does not accept any
        responsibility for members meeting one another in private or public.
      </li>
      <li class="fw-bold">
        IN NO EVENT SHALL SB BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY
        INDIRECT, CONSEQUENTIAL, INCIDENTAL, EXEMPLARY, SPECIAL OR PUNITIVE
        DAMAGES, INCLUDING LOST PROFIT DAMAGES ARISING FROM YOUR USE OF THE
        SERVICES, EVEN IF SB HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
        DAMAGES. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, SB
        'S LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM
        OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY,
        BY YOU TO SB FOR THE SB SERVICES DURING THE TERM OF MEMBERSHIP.
      </li>
      <li class="fw-bold">
        Furthermore, you agree to indemnify, release and hold SB, its present
        and future directors, shareholders and employees, agents, assigns,
        affiliates and subsidiaries their respective officers, agents, partners
        and employees, harmless from any loss from any and all claims, actions,
        causes of action, suits, costs, judgments, decrees, verdicts, damages,
        liabilities, attorneys’ fees, covenants, contracts and agreements made
        by anythird party due to or arising out of your use of the SB’s Services
        in breach of this Agreement.
      </li>
      <li>
        Notwithstanding the aforementioned, any liability SB has will be deemed
        the responsibility of Enlighten Interactive, LLC.
      </li>
      <li>
        No Software may be downloaded from the Website or subsequently exported
        or re-exported in violation of U.S. export laws. Downloading or using
        the Software is at the sole risk of the User.
      </li>
      <li>
        If there is any dispute about or involving the SB Services, you agree
        that the dispute shall be governed by the laws of the State of
        Connecticut, USA, irrespective of conflict of law provisions and you
        agree to exclusive personal jurisdiction and venue in the state and
        federal courts of the United States located in the State of Connecticut,
        USA. Either SB or you may demand that any dispute between SB and you
        about or involving the SB Services must be settled by arbitration
        utilizing the dispute resolution procedures of the American Arbitration
        Association (AAA) in Greenwich, Connecticut, USA, provided that the
        foregoing shall not prevent SB from seeking injunctive relief in a court
        of competent jurisdiction.
      </li>
      <li>
        Please contact us at:
        <a href="mailto:customerservice@skillbound.com"
          >customerservice@skillbound.com</a
        >
        with any questions regarding this Agreement.
      </li>
    </ul>
  </div>
</div>
