.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
@media only screen and (max-width: 600px) {
  form {
    margin: auto 17%;
  }
}
@media only screen and (max-width: 500px) {
  form {
    margin: auto 5%;
  }
}
@media only screen and (max-width: 400px) {
  form {
    margin: auto;
  }
}
/* start button  */
.btn-submit {
  position: relative;
  background: linear-gradient(0deg, #43b9f0 0%, #97cfe9 100%);
  width: 140px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-submit span {
  position: relative;
  display: block;
  width: 99%;
  height: 100%;
  color: #eee;
}

.btn-submit:before,
.btn-submit:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #43b9f0;
  transition: all 0.3s ease;
}
.btn-submit:before {
  height: 0%;
  width: 2px;
}
.btn-submit:after {
  width: 0%;
  height: 2px;
}
.btn-submit:hover {
  background: transparent;
  box-shadow: none;
}
.btn-submit:hover:before {
  height: 100%;
}
.btn-submit:hover:after {
  width: 100%;
}
.btn-submit span:hover {
  color: #43b9f0;
}
.btn-submit span:before,
.btn-submit span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #43b9f0;
  transition: all 0.3s ease;
}
.btn-submit span:before {
  width: 2px;
  height: 0%;
}
.btn-submit span:after {
  width: 1%;
  height: 2px;
}
.btn-submit span:hover:before {
  height: 100%;
}
.btn-submit span:hover:after {
  width: 100%;
}
/* End button  */
.btn-delete {
  background-color: #f4f4f4;
}

.btn-delete:hover {
  box-shadow: 5px 5px 5px #757575;
}

#categoryId,
#subCategoryId,
#skillLevel,
#teachLevel,
#skillWishes {
  border: 0;
  background-color: #f5f5f5;
  line-height: 1;
  padding: 0;
}

#categoryId,
#skillLevel,
#teachLevel,
#skillWishes,
#subCategoryId:focus {
  box-shadow: none;
}

.container {
  position: relative;
}

.close-icon {
  position: absolute;
  top: -5px;
  right: 15px;
  font-size: 25px;
  font-weight: bolder;
}

.close-icon:hover {
  color: #79d4f3;
}

.success-msg {
  border: 1px solid #fcfc87;
  border-radius: 5px;
  padding: 2px 30px 2px 5px;
  background-color: #fcfc87;
  position: absolute;
  right: 0%;
  bottom: 3%;
}
.form-control.ng-touched.ng-invalid {
  border: 1.5px solid #f00;
}
