

<div class="containers template px-3">  
        <!-- start nav bar -->
        <nav class="nav nav-tabs ">
            <button type="button" class="nav-link active " data-bs-toggle="tab" title="Friends Requests" data-bs-target="#friendRequest">
                <span class="d-sm-none d-md-block d-none">Friends Requests</span>
                <i class="fa-solid fa-user-check mx-2 d-md-none"></i>
            </button>
            <button type="button" class="nav-link py-1 px-4"  title="Friends list" data-bs-toggle="tab" data-bs-target="#friendList">
                <span class="d-sm-none d-md-block d-none">Friends list</span>
                <i class="fa-solid fa-user-group mx-2 d-md-none"></i>
            </button>
            <button type="button" class="nav-link py-1 px-4" data-bs-toggle="tab" title="Friends Suggestions" data-bs-target="#friendSuggestion">
                <span class="d-sm-none d-md-block d-none">Friends Suggestions</span>
                <i class="fa-solid fa-user-plus mx-2 d-md-none"></i>
            </button>            
        </nav>
        <!-- End nav bar -->

        <!-- start tab Content -->
        <div class="tab-content">
            <div class="m-2 tab-pane active show fade" id="friendRequest">           
                <app-friend-request></app-friend-request>

            </div>
            <div class="m-2 tab-pane fade" id="friendList">
                <app-friend-list></app-friend-list>
            </div>
            <div class="m-2 tab-pane fade" id="friendSuggestion">
                <app-friend-suggestion></app-friend-suggestion>
            </div>
        </div>
        <!-- End tab Content -->



        
    
        
</div>