<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 item">
          <!-- <h3>Services</h3> -->
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Classifieds</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 item">
          <!-- <h3>About</h3> -->
          <ul>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Saftey Guidelines</a></li>
            <li><a href="#">Countact Us</a></li>
            <li><a href="#">Press Releases</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
        <div class="col-md-4 item text">
          <a href="#">
            <img src="../assets/img/newLogo.png" alt="logo">
          </a>
          <p>If you can't find a skill you are looking for, please email <a class="text-decoration-none email-connect"
              href="#">customerservice@skillbound.com</a>
            with your
            suggestion.

        </div>
        <p class="copyright">2022, Skillbound&reg;.com</p>
      </div>
    </div>
  </footer>
</div>